body{
    background-color: rgb(246, 255, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.load{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    
}
.part-load{
    border-radius: 20px;
    width: 30px;
    height: 80px;
}
@keyframes MoveUpDown {
    0%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(20px);
    }
}

.part-load:nth-child(1){
    background-color: rgb(255, 140, 140);
    animation: MoveUpDown 0.5s linear 0.2s infinite alternate;
}
.part-load:nth-child(2){
    background-color: rgb(255, 196, 70);
    animation: MoveUpDown 0.5s linear 0.4s infinite alternate;
}
.part-load:nth-child(3){
    background-color: rgb(97, 255, 158);
    animation: MoveUpDown 0.5s linear 0.6s infinite alternate;
}
.part-load:nth-child(4){
    background-color: rgb(41, 155, 255);
    animation: MoveUpDown 0.5s linear 0.8s infinite alternate;
}
.part-load:nth-child(5){
    background-color: rgb(151, 72, 255);
    animation: MoveUpDown 0.5s linear 1s infinite alternate;
}